/* Add a black background color to the top navigation */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;;
    background-color: #252a2e;
    color: #f2f2f2;
}

.topnav {
    background-color: #18191c;
    overflow: hidden;
  }
  
  .topnav a#topNews {
    background-color: #78991b;
}

.topnav a#topNews:hover {
    background-color: #568621;
    color: white;
}

.topnav a#topContact {
    background-color: #d58e40;
}

.topnav a#topContact:hover {
    background-color: #b09713;
    color: white;
}

.topnav a#topAbout {
    background-color: #c7bf23;
}

.topnav a#topAbout:hover {
    background-color: #be6525;
    color: white;
}

.topnav a#topX {
    background-color: #b02e2e;
    width: 20px;
    float: right;
}

.topnav a#topX:hover {
    background-color: #9e0e0e;
    color: white;
}

  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 80px
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #191a1c;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #3c6a94;
    color: white;
  }
